<section id="admin-main">
  <div class="container mt-5">
    
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="text-center">
          <th>Product Image</th>
          <th>product</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>

        </tr>
        </thead>

        <tbody>
          {{#each products}}
        <tr class="text-center">
          <td><img src="/images/{{this._id}}.png" alt="best selling 2" class="w-25 h-10"></td>
          <td>{{this.productName}}</td>
          <td>{{this.productDescription}}</td>
          <td>{{this.productCategory}}</td>
          <td>{{this.productPrice}}</td>
        </tr>
        {{/each}}
     </tbody>
    </table>
  </div>
    
</section>